@mixin font
  text-align: center
  color: #666
  -webkit-font-smoothing: antialiased
  font-family: sans-serif

@mixin fullscreen
  width: 100%
  height: 100%

html
  @include fullscreen

body
  margin: 0
  background-color: #000
  @include fullscreen

canvas
  display: block

.pad,
.controls
  position: relative
  display: table
  float: left
  width: 50px
  height: 50px
  border: 1px solid #666
  color: #666
  box-sizing: border-box
  border-radius: 10px
  margin: 10px
  cursor: pointer

  span
    display: table-cell
    vertical-align: middle
    text-align: center
    @include font

.pad:hover,
.controls:hover,
.pad.enable,
.controls.enable
  border: 1px solid cyan
  box-shadow: 0px 0px 14px cyan
  color: cyan

  span
    color: cyan

#pads
  position: absolute
  bottom: 20px
  left: 20px

#controls
  position: absolute
  bottom: 20px
  right: 20px

#more-info
  display: none
  @include font
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

  div
    display: table-cell
    vertical-align: middle
    text-align: center
    @include font

