html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

.pad {
  position: relative;
  display: table;
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #666666;
  color: #666666;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 1px;
  cursor: pointer;
}
.pad span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-align: center;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}
.pad div {
  color: #333333;
}

.pad:hover,
.pad.enable {
  border: 1px solid cyan;
  box-shadow: 0px 0px 14px cyan;
  color: cyan;
}
.pad:hover span,
.pad.enable span {
  color: cyan;
}

#pads {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

#controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#more-info {
  display: none;
  text-align: center;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#more-info div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-align: center;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}
