html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

#more-info {
  text-align: center;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  display: table;
}
#more-info div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-align: center;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

.ce {
  position: absolute;
  bottom: 0;
  left: 0;
}

.gh {
  position: absolute;
  top: 0;
  left: 0;
}
